@import url("https://fonts.googleapis.com/css?family=PT+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.parallax {
  /* The image used */
  background-image: url("http://farm9.staticflickr.com/8241/8562523343_9bb49b7b7b.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// restricting widths on larger screens
header,
main,
footer {
  max-width: 85.375rem;
  margin-left: auto;
  margin-right: auto;
}

// Media Query Mixins

// small screens with screen widths of 600px or less
@mixin verySmall {
  @media screen and (max-width: 575.98px) {
    @content;
  }
}

// Small devices (landscape phones, 576px and up)
@mixin small {
  @media screen and (min-width: 576px) {
    @content;
  }
}

// Medium devices (tablets, 768px and up)
@mixin medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// Large devices (desktops, 992px and up)
@mixin large {
  @media screen and (min-width: 992px) {
    @content;
  }
}

// Extra large devices (large desktops, 1200px and up)
@mixin veryLarge {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
