//how many images we have
$slides: 4;

// how much we want each slide to show
$time_per_slide: 4;

// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;

.home {
  margin-top: 2rem;

  &__slider {
    width: 100%;
    height: 36rem;
    overflow: hidden;
    position: relative;
    background: red;

    &__photo {
      position: absolute;
      animation: round #{$total_animation_time}s infinite;
      opacity: 0;
    }
  }

  &__offer {
    &__header {
      max-width: 37.5rem;
      margin: 3rem auto 0 auto;
      padding: 0 0.5rem;
      text-align: center;

      & p {
        margin-top: 1rem;
      }
    }
    // cards of safari offers
    &__cards {
      display: grid;
      padding: 0.5rem;
      margin-top: 3rem;

      @include medium {
        grid-template-columns: repeat(2, 1fr);
        max-width: 65rem;
        grid-gap: 2rem;
        margin-left: auto;
        margin-right: auto;
      }

      &__card-item {
        display: grid;
        grid-gap: 1rem;
        padding: 1rem;
        margin: 0.5rem;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-out;
        min-height: 20rem;

        &:hover {
          box-shadow: 0px 8px 10px 5px rgba(0, 0, 0, 0.5);
          transform: translateY(-10px);
        }

        & img {
          width: 100%;
          height: 100%;

          @include verySmall {
            min-height: 15rem;
          }
        }

        & h4 {
          font-size: 1.5rem;
        }

        @include medium {
          grid-template-columns: 1.5fr 1fr;
        }
      }
    }
  }
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@for $index from 1 to $slides + 1 {
  img:nth-child(#{$index}) {
    animation-delay: #{$total_animation_time - $time_per_slide * $index}s;
  }
}
